<div class="cart-container">
        <div class="ui bold header large cart-header">Your Shopping Cart</div>
        <div class="ui one column grid container vertically divided">
                <ng-container *ngFor="let cartProduct of cart$ | async">
                        <div class="row">
                                <div class="column">
                                        <app-cart-product [product]="cartProduct.product"
                                                [quantity]="cartProduct.quantity"
                                                (productRemoved)="removeProduct(cartProduct.product.name)"
                                                (quantityChanged)="changeQuantity(cartProduct.product.name, $event)">
                                        </app-cart-product>
                                </div>
                        </div>
                </ng-container>
        </div>
        <div>Total price: {{ totalPrice | currency:"ILS":"symbol" }}</div>
        <div class="actions">
                <button class="ui secondary button right" [routerLink]="['/']">continue shopping</button>
                <button class="ui primary right labeled icon button" (click)="checkout()">
                        <i class="cart white icon"></i>
                        checkout
                </button>
        </div>
</div>