<div class="ui three column grid container">
    <div class="row">
        <div class="three wide column image">
            <img [src]="product.image" />
        </div>
        <div class="twelve wide column">
            <div class="ui bold header large">{{product.name}}</div>
            <span class="ui text cart-product-row">{{product.description}}</span>
            <div class="ui text cart-product-row">₪{{product.price}}</div>
            <div *ngIf="product.limit else unlimitedStock">
                <mat-form-field appearance="fill" class="cart-product-row">
                    <mat-select [(value)]="quantity" (selectionChange)="updateQuantity($event.value)">
                        <mat-option [value]="i+1" *ngFor="let item of [].constructor(product.limit); let i = index">
                            {{i + 1}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="one wide column">
            <i class="red large times icon clickable" (click)="removeCartProduct()"></i>
        </div>
    </div>
</div>

<ng-template #unlimitedStock>
    <div class="ui input">
        <input type="number" min="1" [(value)]="quantity" (change)="updateQuantity($event.target.value)" class="quantity-input">
    </div>
</ng-template>